body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background-color: #f2f2f2;
}

.card {
  width: 200px;
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
  text-align: center;
  box-shadow: 2px 2px 5px gray;
  margin: 10px;
  border-radius: 8px;
}
