h1 {
    color: green;
    text-align: center;
}

body {

    background-color: #260edf; 
}
header {
    background-color: #260edf;
    text-align: center;
}
main {
    width: 80%;
    margin: auto; 
}
footer {
    background-color: #260edf;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}